<div class="introduction">
  <br/><br/><br/>
  <p class="content">“offer 来了”专注于互联网站招聘，<br><br>致力于做行业领先的垂直互联网招聘平台，<br><br>专业团队策划完善的品牌建设和品牌推广方案,<br><br>
让人才切身体会企业的品牌情愫。
  </p>
  <br>
</div>

<div class="pagetwo">

  <section class="stage">
    <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ooo.0o0.ooo/2017/01/16/587ce352b0d80.png" class="img-rounded" alt="Cinque Terre" width="80" height="80">
          </div>
          <div class="text-center">
            <h4>北京市朝阳区三里屯<br>SOHOB座215室</h4>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-4 ">
              <div class="thumbnail">
                <img src="https://ooo.0o0.ooo/2017/01/16/587ce239b8e9f.png" class="img-rounded" alt="Cinque Terre" width="80" height="80">
              </div>
              <div class="text-center">
                <h4>offerlaile@gmail.com</h4>
              </div>
            </div>
            <div class="row">
                <div class="col-sm-4 ">
                  <div class="thumbnail">
                    <img src="https://ooo.0o0.ooo/2017/01/16/587ce41a7f8fe.png" class="img-rounded" alt="Cinque Terre" width="80" height="80">
                  </div>
                  <div class="text-center">
                    <h4>010-84547788</h4>
                  </div>
                </div>
