<div class="jumbotron">
  <h1 class="title">offer 来了</h1>
  <p class="slogan">专注于互联网领域的招聘平台
  </p>
  <br>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">一秒投递</a></p>
</div>

<div class="pageone">

  <section class="phases">
  <div class = "container-fluid">
   <div class="text-center"><h3>更多方案解决你所需</span></h3>
     <div class="row">
       <div class="col-sm-4 ">
      <div class="thumbnail">
        <img src="https://ooo.0o0.ooo/2017/01/16/587c9cfdef8e0.png" class="img-rounded" alt="Cinque Terre" width="100" height="100">
           </div>
           <div class="text-center">
            <h4>满足你的应聘需求</h4>
          <p class="take">海量筛选企业</p>
        </div>
      </div>
     <div class="col-sm-4 ">
       <div class="thumbnail">
         <img src="https://ooo.0o0.ooo/2017/01/16/587cae9c456d4.png" class="img-rounded" alt="Cinque Terre" width="100" height="100">
       </div>
       <div class="text-center">
         <h4>展示你的企业</h4>
           <p class="take">创建自己的企业招聘页面</p>
       </div>
     </div>
      <div class="col-sm-4">
         <div class="thumbnail">
           <img src="https://ooo.0o0.ooo/2017/01/16/587cb0f0269c0.png" class="img-rounded" alt="Cinque Terre" width="100" height="100">
         </div>
         <div class="text-center">
           <h4>行业动态一目了然</h4>
           <p class="take">招聘行业动态趋势分析</p>
         </div>
       </div>
     </div>
   <hr />
   <div class="row">
     <div class="col-sm-4 ">
       <div class="thumbnail">
         <img src="https://ooo.0o0.ooo/2017/01/16/587cb442428ac.png" class="img-rounded" alt="Cinque Terre" width="100" height="100">
       </div>
       <div class="text-center">
         <h4>投递进程跟进</h4>
         <p class="take">面试邀请及时通知</p>
       </div>
     </div>
     <div class="col-sm-4 ">
         <div class="thumbnail">
           <img src="https://ooo.0o0.ooo/2017/01/16/587cb4db891e1.png" class="img-rounded" alt="Cinque Terre" width="100" height="100">
         </div>
         <div class="text-center">
           <h4>智能推荐</h4>
           <p class="take">推荐高质量高活跃企业</p>
         </div>
       </div>
       <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="https://ooo.0o0.ooo/2017/01/16/587cb5bf0caa6.png" class="img-rounded" alt="Cinque Terre" width="100" height="100">
           </div>
           <div class="text-center">
             <h4>按需雇佣平台</h4>
             <p class="take">让 BAT 优质人才成为你的员工</p>
           </div>
         </div>
       </div>
 </div>
 <hr />
</section>
<br/><br/>
<footer class="container" style="margin top: 100px;">
  <div class="text-center">
    <div class="icon">
    <!-- just add href= for your links, like this: -->
    <a href="https://wx.qq.com" class="btn btn-social-icon btn-wechat", style="font-size:25px">
    <i class="fa fa-weixin"></i></a>
    <a href="http://weibo.com/login.php" class="btn btn-social-icon btn-weibo", style="font-size:25px"><i class="fa fa-weibo" aria-hidden="true"></i></a>
    <a href="https://im.qq.com/pcqq/"  class="btn btn-social-icon btn-qq", style="font-size:25px"><i class="fa fa-qq"></i></a>
  </div>
</footer>
